name: Run all Automation QA tests

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests against'
        required: true
        type: choice
        options:
          - dev
          - qa
        default: dev
      scope:
        description: 'Test suite to run'
        required: true
        type: choice
        options:
          - all
          - UI
          - API
        default: all
      parallel:
        description: 'Number of parallel threads to run test-suites'
        required: true
        type: choice
        options:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
        default: 1

permissions:
  actions: write
  id-token: write
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: automation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Dev Properties
        shell: bash
        run: |
          cat <<EOF >src/test/resources/META-INF/dev.properties
          #dev credentials
          booker.storefront.base.url=https://demoqa.com/
          booker.backoffice.base.url=https://backoffice-demoqa.com/
          booker.restful.base.url=https://restful-booker.herokuapp.com

          booker.backoffice.admin.role=ADMIN
          booker.backoffice.admin.username=admin
          booker.backoffice.admin.password=password123
          booker.backoffice.admin.cockpit=backoffice

          booker.storefront.guest.role=GUEST
          booker.storefront.guest.username=
          booker.storefront.guest.password=
          booker.storefront.guest.cockpit=storefront
          EOF

      - name: Setup QA Properties
        shell: bash
        run: |
          cat <<EOF >src/test/resources/META-INF/qa.properties
          #qa credentials
          EOF

      - name: Build with Maven
        shell: bash
        run: |
          #
          # --- ENVIRONMENT ARG (dev / qa) ---
          #
          spring_profile="-Dspring.profiles.active=${{ inputs.environment }}"

          #
          # --- SCOPE ARG (UI, API, all) ---
          #
          scope_arg=""
          case "${{ inputs.scope }}" in
            "UI")
              scope_arg="-Dgroups=ui"
              ;;
            "API")
              scope_arg="-Dgroups=api"
              ;;
            "all")
              scope_arg=""
              ;;
          esac

          #
          # --- PARALLEL ARG ---
          #
          thread_arg=""
          if [[ "${{ inputs.parallel }}" != "1" ]]; then
            thread_arg="-Dthread.count=${{ inputs.parallel }}"
          fi

          echo "SPRING PROFILE: $spring_profile"
          echo "SCOPE ARG: $scope_arg"
          echo "THREAD ARG: $thread_arg"

          mvn clean test $spring_profile $scope_arg $thread_arg

      - name: Load test report history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build test report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: target/allure-results

      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v4
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history